body {
    text-align: center;
    background: black;
    background-image: url("https://i.pinimg.com/originals/2c/01/9d/2c019d0dac362416a9eed8d957cbc055.jpg");
	background-size:100%
}

h1 {
    font-size: 20px;
}

button {
    border-radius: 10px;
    font-size: 20px;
}

input {
    font-size: 15px;
}

div {
    font-size: 40px;
    color: snow;
}

img {
    height: 350px;
    width: 600px;
}
table {
    height: 350px;
    width: 600px;
    margin: 0 auto;
    text-align: left;
}

